@import url('https://fonts.googleapis.com/css?family=Nunito:900');

:root {
    --urdevGreen: #69f0ae;
    --urdevDarkGreen: #2bbd7e;
    --urdevLightGreen: #9fffe0;

}
html, body {
    font-family: 'Nunito', sans-serif;
    color: #fff;
    overflow: hidden;
    background: black;
}
button {
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    background: var(--urdevGreen);
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 100px;
}
button:hover {
    background: var(--urdevDarkGreen);
}
button:focus {outline:0;}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: var(--urdevGreen);
}
.app {

}
video {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    min-width: 100%;
    z-index: 100;
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;


    background: rgba(22, 22, 22, 0.7);

}
 #logo {
     font-weight: 900;
     font-size: 2.5em;
 }
.links {
    position: fixed;
    top: 10px;
    right: 15px;
}
.links button {
    margin: 0;
    height: 100%;
    width: 150px;

    border-bottom: 5px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    background: none;
}
.links button:hover {
    border-bottom: 5px solid var(--urdevGreen);
}


.content {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;

    background: rgba(22, 22, 22, 0.5);

}
.content-box {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    width: 100%;
}
.content-left {
    height: 100%;
    padding: 10px;
    align-self: center;
    margin: 10px;
    min-width: 50%;
    display: flex;
    justify-content: center;
}
.content-right {
    height: 100%;
    align-self: center;
    margin: 10px;
    min-width: 50%;
    display: flex;
    justify-content: center;
    visibility: hidden;
}

.content p {
    margin: 0 0 30px 0;
}
.image {
    height: 50%;
    width: 50%;

}


/*.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    z-index: 100;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0 20px;


    background: rgba(22, 22, 22, 0.7);
}

*/
.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 830px) {
    .content-box {
        margin-top: 50px;
        flex-wrap: wrap;
    }
    .links {
        display: none;
    }
}