@import url('https://fonts.googleapis.com/css?family=Nunito:900');

:root {
    --urdevGreen: #69f0ae; /* #69f0ae */
    --urdevDarkGreen: #2bbd7e;
    --urdevLightGreen: #9fffe0;

}
html, body {
    font-family: 'Nunito', sans-serif;
    color: #fff;
    overflow: hidden;
    background: black;
    text-decoration-color: #2bbd7e;
}
button {
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    background: var(--urdevGreen);
    padding: 10px;
    width: 50%;
    max-width: 300px;
    border: none;
    border-radius: 100px;
}
button:hover {
    background: var(--urdevDarkGreen);
}
button:focus {outline:0;}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: var(--urdevGreen);
}
.app {

}
video {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    min-width: 100%;
    z-index: 100;
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0px;


    background: rgba(22, 22, 22, 0.7);

}
 #logo {
     padding: 0 20px 8px 20px;
     font-weight: 900;
     font-size: 2.5em;
 }
.links {
    width: 100%;

}



.links button {
    margin: 0;
    height: 70px;
    width: 150px;
    float: right;
    padding: 0;
    font-size: 1rem;
    border-radius: 0;
    background: none;
}
.links button:hover {
    background: var(--urdevGreen);
    font-weight: bold;

}

.icon-link {
    display: none;

}
.icon-link:hover {
    background: none !important;
}
.icon {
    margin-top: 0px;
    margin-right: 20px;
    float: right;
    height: 65%;
    width: 25%;
}
.icon:hover path{
    fill: white;

}


.content {
    position: fixed;
    top: 70px;
    left: 0;
    min-height: 100%;
    min-width: 100%;

    background: rgba(22, 22, 22, 0.5);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.content-component {
    padding: 0 20px;
    margin-bottom: 200px;
    width: 50%;
    min-height: 100%;
    align-self: flex-end;
}
.content-component h1 {
    font-weight: bold;
}
.content-component p {
    font-size: 1.2rem;
    font-weight: bold;
}



.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    z-index: 100;

    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 0 0px;

    color: rgba(255, 255, 255, 0.6);


    background: rgba(22, 22, 22, 0.3);
}
.footer span {
    width: 100%;
    font-size: .8rem;
    text-align: center;
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}


@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 850px) {

    .content-component {
        width: 100%;
        padding: 0 10px;
        margin: 0;
        align-self: center;

    }
    .link{
        display: none;
    }
    .icon-link {
        display: initial;
    }
}
@media screen and (max-width: 450px) {

        .content-component{
            align-self: self-end;
        }

}