@import url('https://fonts.googleapis.com/css?family=Nunito:900');


html, body {
    font-family: 'Nunito', sans-serif;
}
.app {

}
video {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
}
.navbar {

}
.content {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;


}
.footer {

}